//- add social list
mixin social(array)
  .social
    ul
      each key in array
        li
          a(href=key.href)
            svg
              use(xlink:href=key.icon)

//- Page hero mixin
mixin hero(subtitle, title)
  .page__hero
    include ../modules/_header

    h2.page__caption 
      span= subtitle 
      <br> 
      = title

    .page__inf.page__inf_align_center
      p.page__phone quick reservation: <span>+212 342 67382</span>
      +social(social)

mixin heading(subtitle, title, text)
  .page__heading
    span.page__subtitle= subtitle
    h3.page__title= title

    if (text)
      p= text