mixin dish(img, name, composition, price)
  .homepage-menu__dish.homepage-dish  
    .homepage-dish__img-container
      img(src= img, alt='dish')
    .homepage-dish__desc
      .homepage-dish__name-and-price
        h4.homepage-dish__name= name
        span.homepage-dish__price= price
      p.homepage-dish__composition= composition

mixin post(src, name, text, date)
  .homepage-blog__row
    .homepage-blog__col
      .homepage-blog__post.homepage-post
        .homepage-post__img-container
          img(src= src, alt="post pic")
        .homepage-post__desc
          span.homepage-post__date= date
          h4.homepage-post__name= name
          p= text
        a(href="javascript:void(0);").homepage-post__continue Continue reading
          svg
            use(xlink:href="sprite-svg.svg#arrow-round-forward")