include ../helpers/mixins/_mixin-homepage-page
include ../helpers/mixins/_mixin-our-menu-page
include ../helpers/mixins/_mixin-team-page

//- add social list
mixin social(array)
  .social
    ul
      each key in array
        li
          a(href=key.href)
            svg
              use(xlink:href=key.icon)

//- Page hero mixin
mixin hero(subtitle, title, scroll)
  section
    .hero
      include ../modules/_header

      .bug-fix-ie
        h2.hero__title
          span= subtitle 
          <br> 
          = title

      if (scroll)
        .hero__inf
          p.hero__tel quick reservation: <span>+212 342 67382</span>
          +social(social)
        button(type='button').btn-scroll#js-scroll-down
      else
        .hero__inf.hero__inf_align_center
          p.hero__tel quick reservation: <span>+212 342 67382</span>
          +social(social)

mixin contentHeader(subtitle, title, text)
  .heading
    span.heading__subtitle= subtitle
    h3.heading__title= title

    if (text)
      p= text

//- Стили для формы назодятся в reservation.styl
mixin reservationForm(formId, action)
  .res.res-row
    //- Form
    .res-col.res-form-container
      form(action='reserv.php', method='post', id= formId).res-form
        p.res-form-nb.
          Welcome to Chew Restaurant! 
          Please use the form below to book a table online. This is powered by <span>OpenTable.</span>

        .res-form-rows
          .res-form-row
            .res-form-col.res-form-col-size-md
              label(for="reserv-form-date") Date
              input(type="text", name="date", placeholder="Jul 14th, 2018")#reserv-form-date
            .res-form-col.res-form-col-size-md
              label(for="reserv-form-time") Time
              input(type="text", name="time", placeholder="4:30PM")#reserv-form-time
          .res-form-row
            .res-form-col.res-form-col-size-lg
              label(for="reserv-form-guests") I want to book a table for
              input(type="text", name="guests", placeholder="-- Chose the number of guest --")#reserv-form-guests

        .res-form-btn-container
          button(type="submit").res-form-btn-submit.btn.btn_color_orange Book now
    //- Form end

    //- location
    .res-col.res-loc
      img(src="img/general/locate.png", alt="location").res-map
    //- location end