mixin dish(src, name, composition, price)
  .home-dish  
    .home-dish-img-container
      img(src= src, alt='dish')
    .home-dish-desc
      .home-dish-name-and-price
        h4.home-dish-name= name
        span.home-dish-price= price
      p.home-dish-comp= composition

mixin post(src, name, text, date)
  .home-blog-row
    .home-blog-col
      .home-post
        .home-post-img-container
          img(src= src, alt="post pic")
        .home-post-desc
          span.home-post-date= date
          h4.home-post-name= name
          p= text
        a(href="javascript:void(0);").home-post-continue Continue reading
          svg
            use(xlink:href="sprite-svg.svg#arrow-round-forward")